= simple_form_for @profile,  html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  = render partial: 'base_errors', locals: { model: f.object }
  
  %h3= "#{I18n.t('activerecord.models.phone')}"
  %hr
  = render partial: 'phones/form', locals: { form_builder: f }

  = f.input :street
  = f.input :state
  = f.input :city

  .col-sm-offset-2
    = f.button :submit