.container
  %h3= @profile.phones_text
  %fieldset.edit-profile-form-address
    .col-sm-3
      = f.input :cell_phone, input_html: { class: 'phone' }

    %label.sistema{:for => ""}
      = @profile.cell_phone_system_text

    = f.collection_radio_buttons :cell_phone_system,
      @profile.options_to_cell_phone_system,
      :first, :last,
      item_wrapper_class: 'col-sm-3' do |b|
      %label.radio-inline.profile-form-radio
        = b.text
        = b.radio_button
        = tag(:span, class: 'custom-check-box')

  .submit-update
    = f.submit class: 'profile-form-save-button pull-right'
