.container
  %h3= @profile.phones_text
  %fieldset.edit-profile-form-address
    .col-sm-3
      = f.input :cell_phone, input_html: { class: 'phone' }

    %label.sistema{:for => ""}
      = @profile.cell_phone_system_text

    = f.collection_radio_buttons :cell_phone_system,
      @profile.options_to_cell_phone_system,
      :first, :last,
      item_wrapper_class: 'col-sm-2' do |b|
      %label.radio-inline.profile-form-radio.phone-system-profile
        = image_tag "#{b.value}-icon.svg"
        = b.text
        = b.radio_button
        = tag(:span, class: 'custom-check-box')

    .col-sm-3.store-ios.phone-stores-links
      %label
        Baixe nosso app na Apple Store
      %a{href: 'https://itunes.apple.com/br/app/pro-bebe/id1033366874?mt=8', target: '_blank'}
        = image_tag 'apple-store-icon.png'
        Disponível na Apple Store

    .col-sm-3.store-android.phone-stores-links
      %label
        Baixe nosso app na Google Play
      %a{href: 'https://play.google.com/store/apps/details?id=br.org.probebe&hl=pt_BR', target: '_blank'}
        = image_tag 'google-play.png'
        Disponível na Google Play
    .col-sm-3.store-other.phone-stores-links
      %label
        Caso seu celular não tenha o sistema IOS ou Android, você receberá as mensagens por SMS

  .submit-update
    = f.submit class: 'profile-form-save-button pull-right'
