.partners.container
  %h2
    = t 'partners.colaborators'
  - Authors::Author.all.each do |author|
    - next if author.name == 'ProBebê'
    .partners-authors
      %p.lead
        %img{width: 50, height: 50, src: author.photo_url}
        = author.name
      %p{style: "max-height: 81px; overflow: hidden"}
        = author.bio
      %p
        = link_to t('views.blog.read_more'), author_path(author), class: "colaborator-link"
      %p
        = link_to t('views.blog.view_all_author_articles'), articles_path(author_id: author.id)

