- coordinators = SiteCoordinatorsPage.first
.about.container

  - if coordinators.present? && coordinators.title.present?
    %h2= raw coordinators.title
  -else
    %h2= t('about.coordinators')

  - if coordinators.present? && coordinators.text.present?
    %p.about-zero-a-seis-coordinators= raw coordinators.text
  -else
    %p.about-zero-a-seis-coordinators
      %p.about-zero-a-seis-coordinator
        %p.lead
          %strong= t('about.people.figueiro.name')
          \-
          = t('about.people.figueiro.role')
        %p.lead
          = t('about.people.figueiro.description')
      %p.about-zero-a-seis-coordinator
        %p.lead
          %strong= t('about.people.stabel.name')
          \-
          = t('about.people.stabel.role')
        %p.lead
          = t('about.people.stabel.description')
      %p.about-zero-a-seis-coordinator
        %p.lead
          %strong= t('about.people.guimaro.name')
          \-
          = t('about.people.guimaro.role')
        %p.lead
          = t('about.people.guimaro.description')

    %p.lead= link_to 'www.zeroaseis.org.br', 'http://www.zeroaseis.org.br'
