.about.container
  %h2= t('about.who_are_we')

  .about-zero-a-seis-logo
    %figure
      %img.about-zero-a-seis-logo-img{ src: image_path('logo-zero-a-seis.png') }

  %p.about-zero-a-seis-description
    %p.lead= t('about.first_paragraph')
    %p.lead= t('about.second_paragraph')
    %p.lead= t('about.third_paragraph')
    %p.lead= t('about.fourth_paragraph')
    %p.lead= t('about.fifth_paragraph')
