.partners.container
  %h2.partners-partner-title= t('partners.partners_title')
  .partners-partner
    %p
      %figure
        %img.partners-partner-logo-img{ src: image_path('logo-google.png') }
    %p.lead= t('partners.google')

  .partners-partner
    %p
      %figure
        %img.partners-partner-logo-img{ src: image_path('logo-cria.png') }
    %p.lead= t('partners.cria')

  .partners-partner
    %p
      %figure
        %img.partners-partner-logo-img{ src: image_path('logo-sitawi.png') }
    %p.lead= t('partners.sitawi')

  %h3
    = t 'partners.colaborators'
  - Authors::Author.all.each do |author|
    - next if author.name == 'Pro Bebe'
    .partners-authors
      %p.lead
        %img{width: 50, height: 50, src: author.photo_url}
        = author.name
      %p
        = author.bio

