.container.what
  %h2.what-title= t('what.title')
  %figure
    %img.what-probebe-logo-img{ src: asset_path('logo-orange-probebe.png') }
  %p.lead
    %strong
      = t('what.header.1_right_message')
      %br
      = t('what.header.2_right_person')
      %br
      = t('what.header.3_right_hour')

  %p.lead= t('what.body.first_paragraph')
  %p.lead= t('what.body.second_paragraph')
  %p.lead= t('what.body.third_paragraph')
  %p.lead= t('what.body.fourth_paragraph')
  %p.lead= t('what.body.fifth_paragraph')
  %p.lead= t('what.body.sixth_paragraph')
  %p.lead= t('what.body.seventh_paragraph')
  %p.lead
    %strong= t('what.body.eighth_paragraph')
