= javascript_include_tag 'week_to_date'
%section.edit-profile-form
  = simple_form_for profile,
    url: profile_path,
    wrapper: :custom_forms,
    html: { class: 'form-horizontal new-children-form' } do |f|

    = f.error_notification
    = render 'base_errors', model: @profile

    = render 'profiles/edit/personal_information', profile: @profile, f: f
    = render 'profiles/edit/children', profile: @profile, f: f
    = render 'profiles/edit/contact_information', profile: @profile, f: f
    = render 'profiles/edit/phones', profile: @profile, f: f
    = render 'profiles/edit/phones', profile: @profile, f: f
    = render 'profiles/edit/cell_phone_system', profile: @profile, f: f
