%section.born-or-not
  .form-block
    .col-sm-6.input-gestante
      %label Gestante
      %input{ type: 'radio' }
    .col-sm-6.input-ja-nasceu
      Já nasceu
      %input{ type: 'radio' }


%section.edit-profile-form
  = simple_form_for profile, url: profile_path, wrapper: :custom_forms, html: { class: 'form-horizontal new-children-form' } do |f|
    = f.error_notification
    = render partial: 'base_errors', locals: { model: f.object }

    .form-block.row
      .col-sm-2
        = f.input :birth_date, as: :date_picker, input_html: { format: :short }
      .col-sm-2
        = f.input :first_name
      .col-sm-2
        = f.input :last_name
      .col-sm-2
        = f.input :gender, as: :enum, include_blank: false
      .col-sm-2
        = f.simple_fields_for :avatar, f.object.avatar || Avatar.new,  wrapper: :horizontal_file_input do |ff|
          = ff.input :photo, as: :file


    %h3= t('general.commom_words.children')
    %hr
    = f.simple_fields_for :children do |ff|
      = render partial: 'children/child_fields', locals: { f: ff }

    .add_fields_container
      %p.form-control-static
        = add_fields_link("#{t('general.commom_words.include')} #{t('activerecord.models.child')}", f, :children, path: 'children/', callback: 'setupDateFromWeek')


    %h3= "#{Profile.human_attribute_name 'address'}"
    %hr

    = f.input :street
    = f.input :state
    = f.input :city

    %h3= I18n.t('activerecord.models.cell_phone').pluralize_current_locale
    %hr
    = f.simple_fields_for :cell_phones do |phone_builder|
      = render partial: 'cell_phones/cell_phone_fields', locals: { f: phone_builder  }
    .add_fields_container
      %p.form-control-static
        = add_fields_link(I18n.t('view.message.add_telefone'), f, :cell_phones, path: 'cell_phones/')


      = f.button :submit
