= content_for :head do
  = javascript_include_tag 'inputs/week_to_date_input'
  = javascript_include_tag 'profile'
  %javascript
    <!-- Google Code for Cadastro em probebe Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 990637315;
    var google_conversion_language = "pt";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "grajCJ39qQsQg9qv2AM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/990637315/?label=grajCJ39qQsQg9qv2AM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

%header.profile-form.container
  %h3 Meu Perfil
  %p Adicione filhos, edite telefone e-mail e dados pessoais aqui

  .form-control-static
    - if @profile.active?
      = link_to( t('carnival.disable_profile'), disable_profile_path(id: @profile.id), class: 'disable_profile')
    - else
      = link_to( t('carnival.active_profile'), active_profile_path(id: @profile.id), class: 'active_profile')

%section.edit-profile-form
  = simple_form_for @profile,
    url: profile_path,
    wrapper: :custom_forms,
    html: { class: 'form-horizontal new-children-form' } do |f|

    .container
      = f.error_notification
      = render 'base_errors', model: @profile
    %section.user-profile-personal-info
      = render 'profiles/edit/personal_information', profile: @profile, f: f
    %section.user-profile-children
      = render 'profiles/edit/children', profile: @profile, f: f
    %section.user-profile-phones
      = render 'profiles/edit/cell_phone_system', profile: @profile, f: f
