%fieldset.form-block.child_fields.profile-form-child
  .col-sm-6
    = f.input :name
  .col-sm-3
    = f.input :born, input_html: { class: 'born_child' }
  .col-sm-3
    = f.input :birth_date, as: :week_to_date, input_html: { format: :short }, label: false
  .col-sm-3
    = render 'gender_radio_buttons',
              form: f, options: @profile.options_to_gender_enum
  .form-control-static
    = remove_fields_link('Remover', f, container_to_hide: '.child_fields')