%fieldset.form-block.child_fields.profile-form-child
  %legend
    - if defined? children_number
      #{children_number}º Bebê
    - else
      0º Bebê

  .col-sm-5
    = f.input :name
  .col-sm-3.birth-or-born-date
    = f.input :birth_date, as: :date_mask, input_html: { format: :short }
    %p.birth-date-obs
      Se você esta grávida, coloque a data aproximada do parto
  .col-sm-4
    = render 'gender_radio_buttons',
              form: f, options: @profile.options_to_gender_enum
  .form-control-static
    = remove_fields_link('Remover', f, container_to_hide: '.child_fields')
