%li.child-entry
  %figure
    = image_tag child.avatar_url
  .panel.panel-default.col-sm-offset-1.col-sm-8.profile-child-info.child-name
    .panel-body.child-text-name
      = definition_list_item Child.human_attribute_name('name'), child.name
  .panel.panel-default.col-sm-4.profile-child-info
    .panel-body
      -if child.born?
        .col-sm-6
          = definition_list_item Child.human_attribute_name('birth_date'), l(child.birth_date)
      - else
        .col-sm-6
          = definition_list_item Child.human_attribute_name('pregnancy_start_date'), distance_of_time_in_words_to_now(@profile.pregnancy_start_date)

      .col-sm-6
        = definition_list_item Child.human_attribute_name('gender'), t("general.gender.#{child.gender}")
