.login-container
  = simple_form_for resource, :url => registration_path(resource_name) do |f|
    %h2= t('carnival_devise.sign_up')
    = devise_error_messages!
    = f.simple_fields_for :profile, Profile.new do |p|
      %div
        = p.input :first_name, :autofocus => true, :placeholder =>t('activerecord.attributes.profile.first_name'), label: false
      %div
        = p.input :last_name, :placeholder =>t('activerecord.attributes.profile.last_name'), label: false
    %div
      = f.email_field :email, :placeholder => t('carnival_devise.new.email')
    %div
      = f.password_field :password, :placeholder => t('carnival_devise.new.password')
    %div
      = f.password_field :password_confirmation, :placeholder => t('carnival_devise.new.password_confirmation')
    %div= f.submit t('carnival_devise.sign_up'), :class => "button"
    = render "devise/shared/links"

- if devise_mapping.omniauthable?
  .oauth
    - resource_class.omniauth_providers.each do |provider|
      %div{class: provider}
        = link_to "#{t('carnival_devise.shared.omni')} #{provider.to_s.titleize}", user_omniauth_authorize_path(provider: provider)
