.login-container
  = render 'sign_up_footer', resource: resource
  = render 'devise/shared/links'

- if devise_mapping.omniauthable?
  .oauth
    - resource_class.omniauth_providers.each do |provider|
      %div{class: provider}
        = link_to "#{t('carnival_devise.shared.omni')} #{provider.to_s.titleize}", user_omniauth_authorize_path(provider: provider)
