.container.what
  %h2.what-title= t('what.title')

  %p.lead= t('what.body.first_paragraph')
  %p.lead= t('what.body.second_paragraph')
  %p.lead= t('what.body.third_paragraph')
  %p.lead= t('what.body.fourth_paragraph')
  %p.lead= t('what.body.fifth_paragraph')
  %p.lead
    %strong= t('what.body.sixth_paragraph')
