.partner-section
  %figure.partner-image{ style: "background-image: url(#{@partner.background_image})" }

  .partner-content.container
    %figure.partner-logo{ style: "background-image: url(#{@partner.logo.data})" }
    .partner-name
      = raw @partner.name
    .partner-text
      = raw @partner.text

  = render 'partners/how_works_in_partner'
  = render 'partners/what_in_partner'
