- landing = SiteLandingPage.first
.site-landing
  .site-landing-image-background
    %figure.site-landing-image{style: "background-position: center; background-image: url(#{@partner.background_image.url})"}
    = image_tag 'img-banner-probebe.jpg'

  .site-landing-content.row
    .site-landing-content-text.col-md-8.col-sm-8
      %h3
        = raw landing.title if landing.present?
      %p
        = raw landing.text if landing.present?

      .site-landing-buttons
        %button.sign-up-partner{ style: "background-color:#F69343; color:#fff", class: "site-landing-buttons-sign-in" , data: { color1: "#F69343", color2: "transparent" } }
          = t('views.home.landing.sign_up')
      %span.partner-section-scroll

    .site-landing-list.col-md-4.col-sm-4
      %ul.site-landing-carousel
        - step = 0
        - SiteMobileImage.all.each do |site_mobile_image|
          %li.site-landing-item
            %header.site-landing-header
              %h1.with-dashed-line
                = site_mobile_image.title
              %p
                = site_mobile_image.text
            - background_image = ''
            - background_image = site_mobile_image.background_image.url if site_mobile_image.picture.present?
            %figure.site-landing-carousel-image{style: "background-position: center; background-image: url(#{background_image})"}
            - css_classes = "step-#{step}"
            - step += 1
            .site-landing-footer{ class: "#{css_classes}" }
              .site-landing-title
                = site_mobile_image.name

.partner-section
  .partner-content.container
    %figure.partner-logo{ style: "background-image: url(#{@partner.logo.data})" }
    .partner-text
      = raw @partner.text

  = render 'partners/how_works_in_partner'
  -# = render 'partners/what_in_partner'
