.post.col-md-6{ class: article.category_type }

  %h2.post-title= link_to article.title, article_path(article)
  %p.periodo-label{ class: "period-#{article.pregnancy_or_child_life_period}" }
    = t("views.blog.#{article.pregnancy_or_child_life_period}")
  %p.categoria-label{ style: "background-color: #{article.category_color}" }= article.category_name
  %figure
    %img{width: 300, height: 200, src: article.thumb_image_cover}
  %p.post-summary
    = article.post_summary
  = link_to article_path(article), class: 'btn btn-primary education-button btn-list' do
    = t('views.blog.read_more')

  .social-share-button-wrapper
    .social-share-button-lines
      = social_share_button_tag(article.title, popup: true, :url => article_url(article),  :'data-type' => '')
