.site-banner
  %ul.site-banner-list
    %li.site-banner-item
      %figure.site-banner-image{ style: "background-image: url(#{@article.cover})" }
        %img{ src: @article.cover }


%section.main.container-fuild
  %section.subjects.container{ class: @article.category_type }
    .posts.subject.col-md-9
      .single-post.col-md-12
        .single-post-header
          %h2.post_title= @article.title
          %h5
            %i= @article.intro_text
          %p.periodo-label{ class: "period-#{@article.pregnancy_or_child_life_period}" }
            = t("views.blog.#{@article.pregnancy_or_child_life_period}")
          %p.categoria-label{ style: "background-color: #{@article.category_color}" }= @article.category_name
        %p
          = raw @article.text

        .row.single-post-info
          .single-post-tags.col-md-8
            %figure
            = render @article.tags

          .single-post-author.col-md-4.row
            %img{width: 50, height: 50, src: @article.author_photo_url}
            .single-post-author-info
              = t('views.blog.by', author: ' ')
              = link_to @article.author_name, articles_path(author_id: @article.original_author_id)
              %label
                = l(@article.created_at, format: '%d de %B de %Y' )

        - if current_user.nil?
          .signup-banner-footer
            %a{href: '/#sign-up'}
              %figure
              %label
                %b
                  Cadastre-se
                e receba mensagens sobre o
                %b
                  seu bebê
                direto no
                %b
                  celular!


        .social-share-button-wrapper
          %p
            Compartilhe
          .social-share-button-lines
            = social_share_button_tag(@article.title, popup: true, :'data-type' => '')


        - if @article.related_articles.size > 0
          %p
            %h4= t('views.blog.related_post')
            = render partial: 'related_article', collection: @article.related_articles

        %ul.pager
          %li.previous
            = link_to t('views.blog.back_html'), root_path
        %p
          = render 'articles/disqus'

    = render 'sidebar',
      tags: @article.tags_for_sidebar,
      categories: @article.categories_for_sidebar
