= render 'home_categories'

%section.subjects.container.anonymous
  = render template: 'home/subject', locals: { subject: 'health' }
  = render template: 'home/subject', locals: { subject: 'education' }
  = render template: 'home/subject', locals: { subject: 'security' }
  = render template: 'home/subject', locals: { subject: 'finance' }
  = render template: 'home/subject', locals: { subject: 'behavior' }
