= render 'home_categories'

%section.subjects.container.anonymous
  = render 'subject', subject: 'health', category: @categories['health']
  = render 'subject', subject: 'education', category: @categories['education']
  = render 'subject', subject: 'behavior', category: @categories['behavior']
  = render 'subject', subject: 'security', category: @categories['security']
  = render 'subject', subject: 'finance', category: @categories['finance']
