= render 'home_categories'

%section.subjects.container.anonymous
  = render 'subject', subject: 'health'
  = render 'subject', subject: 'education'
  = render 'subject', subject: 'security'
  = render 'subject', subject: 'finance'
  = render 'subject', subject: 'behavior'
