= render 'home_categories'

%section.subjects.container.anonymous
  .subject.col-md-9#health
    .row.col-md-12
      = render 'subject_header_health'
    .col-md-5
      = render 'subject_picture', img_path: '', content: 'Lorem ipsum dolor sit amet'

    .col-md-7
      .subject-description
        .subject-description-header.subject-description-header-health
          %h3
            Mais de
            %span.highlight 300
            dicas
          %p
            para ajudar na saúde da sua gestação
      .subject-description-buttons
        %button.cadastre-se.subject-description-buttons-sign-in-health Cadastre-se
        = link_to  posts_path(category: 'health') do
          %button.subject-description-buttons-read-health Leia


  .subject.col-md-9#education
    .row.col-md-12
      = render 'subject_header_education'
    .col-md-5.pull-right
      = render 'subject_picture', img_path: '', content: 'Lorem ipsum dolor sit amet'

    .col-md-7
      .subject-description
        .subject-description-header.subject-description-header-education
          %p
            A educação do seu filho começa ainda na barriga da mãe.
            %span.highlight Sabe por que?
      .subject-description-buttons
        %button.cadastre-se.subject-description-buttons-sign-in-education Cadastre-se
        = link_to posts_path(category: 'education') do
          %button.subject-description-buttons-read-education Leia

  .subject.col-md-9#security
    .row.col-md-12
      = render 'subject_header_security'
    .col-md-5
      = render 'subject_picture', img_path: '', content: 'Lorem ipsum dolor sit amet'

    .col-md-7
      .subject-description
        .subject-description-header.subject-description-header-security
          %h3
            Mais de
            %span.highlight 100
            dicas
          %p
            Para manter o seu beê seguro em casa
      .subject-description-buttons
        %button.cadastre-se.subject-description-buttons-sign-in-security Cadastre-se
        = link_to posts_path(category: 'security') do
          %button.subject-description-buttons-read-security Leia

  .subject.col-md-9#finance
    .row.col-md-12
      = render 'subject_header_finance'
    .col-md-5.pull-right
      = render 'subject_picture', img_path: '', content: 'Lorem ipsum dolor sit amet'

    .col-md-7
      .subject-description
        .subject-description-header.subject-description-header-finance
          %h3
            %span.highlight Finanças:
          %p
            Respostas para as dúvidas mais comuns dos pais
      .subject-description-buttons
        %button.cadastre-se.subject-description-buttons-sign-in-finance Cadastre-se
        = link_to posts_path(category: 'finance') do
          %button.subject-description-buttons-read-finance Leia

  .subject.col-md-9#socio_emotional
    .row.col-md-12
      = render 'subject_header_socio_emotional'
    .col-md-5
      = render 'subject_picture', img_path: '', content: 'Lorem ipsum dolor sit amet'

    .col-md-7
      .subject-description
        .subject-description-header.subject-description-header-socio_emocional
          %h3
            Mais de
            %span.highlight 400
            dicas
          %p
            Para guiar você e o seu filho para uma vida com corpo e mente saudável
      .subject-description-buttons
        %button.cadastre-se.subject-description-buttons-sign-in-socio_emocional Cadastre-se
        = link_to posts_path(category: 'socio_emotional') do
          %button.subject-description-buttons-read-socio_emocional Leia
