%form.form-horizontal
  .form-group
    %label.control-label.col-sm-2= t('activerecord.attributes.personal_profile.name')
    .div.col-sm-10
      %p.form-control-static= @profile.name
  .form-group
    %label.control-label.col-sm-2= t('activerecord.attributes.personal_profile.gender')
    .div.col-sm-10
      %p.form-control-static= t "general.gender.#{@profile.gender}"
  .form-group
    %label.control-label.col-sm-2= t('activerecord.attributes.personal_profile.pregnant')
    .div.col-sm-10
      %p.form-control-static= check_box_tag '', '', @profile.pregnant?, disabled: 'disabled'
  .form-group
    %label.control-label.col-sm-2= t('activerecord.attributes.personal_profile.photo')
    .div.col-sm-10
      %p.form-control-static= image_tag @profile.avatar_url
