.site-banner
  %ul.site-banner-list
    %li.site-banner-item
      %figure.site-banner-image{ style: "background-image: url(#{@post.image_cover})" }
        %img{ src: @post.image_cover }
    %li.site-banner-item
      %figure.site-banner-image{ style: "background-image: url(#{@post.image_cover})" }
        %img{ src: @post.image_cover }

%section.main.container-fuild.raw-container
  %section.subjects.container{ class: @post.category_name.parameterize }
    .raw-single-post.single-post.col-md-12
      %h2.post_title= @post.title
      %p.periodo-label{ class: "period-#{@post.pregnancy_or_child_life_period}" }
        = t("views.blog.#{@post.pregnancy_or_child_life_period}")
      %p.categoria-label= @post.category_name
      %hr
      %p= raw @post.text

      = render @post.tags
      %hr
      %p.lead
        Publicado
        = t('views.blog.by', author: @post.author_name)
