%li.timeline-steps{class: "step-#{@timeline_step.next_step}", id: dom_id(timeline_day)}
  .day-data
    .day= l timeline_day.date, format: :day
    .month= l timeline_day.date, format: :month_name
    .year= l timeline_day.date, format: :full_year
    %ul.timeline-step-bullets
      %li
        %a{href: '#'}
  - if timeline_day.has_event?
    .entry
      %p= link_to timeline_day.event_content, timeline_day.event_url
      .social-share-button-wrapper-timeline
        .social-share-button-lines-timeline
          - path = "#{request.protocol}#{request.host_with_port}#{timeline_day.event_url}"
          = social_share_button_tag(timeline_day.event_content, popup: true, :url => path,  :'data-type' => '')
