%li.timeline-steps{class: "step-#{@timeline_step.next_step}"}
  .day-data
    .day= l timeline_day.date, format: :day
    .month= l timeline_day.date, format: :month_name
    .year= l timeline_day.date, format: :full_year
    %ul.timeline-step-bullets
      %li
        %a{href: '#'}
  - if timeline_day.has_event?
    .entry
      %p= timeline_day.event_content
