%nav.home-categories
  %ul.home-categories-list.category-health
    -index = 0
    - Category.to_show_in_home.each do |category|
      - css_class = "home-categories-item home-categories-click category-#{category.slug}"
      - css_class << ' is-active' if index == 0
      - index += 1
      %li{ class: "#{css_class}", data: { color: "#{category.color}" } }
        = link_to category.name, "##{category.slug}"
