%nav.home-categories
  %ul.home-categories-list.category-health
    %li.home-categories-item.home-categories.category-health.is-active
      = link_to "Saúde", "#health"
    %li.home-categories-item.home-categories.category-education
      = link_to "Educação", "#education"
    %li.home-categories-item.home-categories.category-safety
      = link_to "Segurança", "#security"
    %li.home-categories-item.home-categories.category-finances
      = link_to "Finanças", "#finance"
    %li.home-categories-item.home-categories.category-emotional
      = link_to "Socioemocional", "#socio_emotional"
