%nav.home-categories
  %ul.home-categories-list.category-health
    %li.home-categories-item.category-health.is-active
      = link_to "Saúde",posts_path(category: 'health')
    %li.home-categories-item.category-education
      = link_to "Educação",posts_path(category: 'education')
    %li.home-categories-item.category-emotional
      = link_to "Socioemocional",posts_path(category: 'socio_emotional')
    %li.home-categories-item.category-finances
      = link_to "Finanças",posts_path(category: 'finance')
    %li.home-categories-item.category-safety
      = link_to "Segurança",posts_path(category: 'security')
