<meta property=”og:site_name” content=”ProBebê” />
<meta property=”og:type” content="article" />
<meta property=”og:title” content=”#{@article.title}” />
<meta property=”og:description” content=”#{@article.summary}” />
<meta property=”og:image” content=”#{@article.cover}” />

<meta name=”twitter:card” content=”summary” />
<meta name=”twitter:site” content=”@brprobebe“>
<meta name=”twitter:title” content=”ProBebê” />
<meta name=”twitter:creator” content=”@brprobebe“>
<meta name=”twitter:description” content=”#{@article.summary}” />
<meta name=”twitter:url” content=”#{article_url(@article)}” />
<meta name=”twitter:image” content=”#{@article.cover}” />
