%meta{content: "”ProBebê”", property: "”og:site_name”"}/
%meta{content: "article", property: "”og:type”"}/
%meta{content: "”\#{@article.title}”", property: "”og:title”"}/
%meta{content: "”\#{@article.summary}”", property: "”og:description”"}/
%meta{content: "”\#{@article.cover}”", property: "”og:image”"}/

%meta{content: "”summary”", name: "”twitter:card”"}/
%meta{content: "”@brprobebe“", name: "”twitter:site”"}/
%meta{content: "”ProBebê”", name: "”twitter:title”"}/
%meta{content: "”@brprobebe“", name: "”twitter:creator”"}/
%meta{content: "”\#{@article.summary}”", name: "”twitter:description”"}/
%meta{content: "”\#{article_url(@article)}”", name: "”twitter:url”"}/
%meta{content: "”\#{@article.cover}”", name: "”twitter:image”"}/
