%header.site-header
  .navbar.navbar-default{ role: 'navigation' }
    .container-fluid
      .navbar-header
        = render partial: 'toggle_menu_button'
        = link_to t('views.application.name'), root_path, class: 'navbar-brand'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.partner-menu-navbar
          %li#partner-about-partner= link_to 'Sobre o Parceiro', '#'
          %li#partner-how-works= link_to 'Como funciona', '#'
          %li#partner-what= link_to 'O que é', '#'
          %li= link_to 'Cadastre-se', '/#sign-up'

