%aside.blog-sidebar.col-md-3
  %nav.blog-nav
    %ul.home-categories-list.category-health
      %li.home-categories-item.category-health.is-active
        = link_to "Saúde", "#health"
      %li.home-categories-item.category-education
        = link_to "Educação", "#education"
      %li.home-categories-item.category-emotional
        = link_to "Socioemocional", "#socio_emotional"
      %li.home-categories-item.category-finances
        = link_to "Finanças", "#finance"
      %li.home-categories-item.category-safety
        = link_to "Segurança", "#security"

  = render 'post_for_period'

  %nav.blog-tags
    %ul.home-categories-list.category-health
      %li.home-categories-item
        = render tags
