:javascript
  $(function() {
    $('.footer-sign-up form').bind('ajax:success', function() {
      location.href = '/profile/edit';
    }).bind('ajax:error', function(evt, data) {
      var errors = data.responseJSON.errors;
      var target = $(evt.target);
      target.find('.has-error').removeClass('has-error');
      target.find('.help-block').remove();

      if (errors['email']) {
        target.find('div.user_email').addClass('has-error');
        target.find('input#user_email').next('help-block').remove();
        var help= $('<span></span>').addClass('help-block').text(errors['email']);
        target.find('input#user_email').after(help);
      }

      if (errors['profile.name']) {
        target.find('div.user_profile_name').addClass('has-error');
        target.find('input#user_profile_attributes_name').next('help-block').remove();
        var help= $('<span></span>').addClass('help-block').text(errors['profile.name']);
        target.find('input#user_profile_attributes_name').after(help);
      }

      if (errors['password']) {
        target.find('div.user_password').addClass('has-error');
        target.find('input#user_password').next('help-block').remove();
        var help= $('<span></span>').addClass('help-block').text(errors['password']);
        target.find('input#user_password').after(help);
      }
    });
  });
.footer-sign-up.container
  %h2 Faça seu cadastro
  %section.footer-sign-up
    = simple_form_for User.new,
      url: user_registration_path,
      remote: true,
      wrapper: :custom_forms do |f|
      %fieldset.footer-form-group
        .col-md-6
          = f.simple_fields_for :profile, Profile.new, wrapper: :custom_forms do |p|
            = p.input :name
        .col-md-6= f.input :email
        .col-md-8= f.input :password
        .form-group.col-md-4
          %button.btn.btn-default.footer-sign-up-button
            Cadastrar-se

        .footer-sign-up-oauth.col-md-12
          %button.footer-sign-up-facebook
            Usar meu
            %span.highlight Facebook
          %span.footer-sign-up-or
            ou
          %button.footer-sign-up-google-plus
            Usar meu
            %span.highlight Google Plus
