= javascript_include_tag 'sign_up'
.modal-signin.vzr-modal
  .footer-sign-up
    %h2 Pode Entrar
    .login-container
      = form_for(User.new, :url => user_session_path) do |f|
        %fieldset.footer-form-group
          %div
            = f.email_field :email, :autofocus => true, :placeholder => t('carnival_devise.new.email')
          %div
            = f.password_field :password, :placeholder => t('carnival_devise.new.password')
          %div
            = f.submit t('carnival_devise.new.login_btn'), :class => "button"
          %div.stay-connected
            = f.check_box :remember_me
            = f.label t('carnival_devise.new.remember_me')
          .social-login
            %button.footer-sign-up-facebook
              Entrar com
              %span.highlight Facebook
            %button.footer-sign-up-google-plus
              Entrar com
              %span.highlight Google Plus
