.site-banner
  %ul.site-banner-list
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image.site-banner-image-pregnancy
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image.site-banner-image-first-to-fourth-month
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image.site-banner-image-fifth-to-eighth-month
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image.site-banner-image-nineth-to-twelfth-month
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image.site-banner-image-thirteenth-to-eightteenth-month
        = image_tag 'img-banner-probebe.jpg'

  .site-banner-arrow
  .site-banner-dots
    .site-banner-dot.step-0.is-active= t('views.blog.pregnancy')
    .site-banner-dot.step-1= t('views.blog.first_to_fourth')
    .site-banner-dot.step-2= t('views.blog.fifth_to_eighth')
    .site-banner-dot.step-3= t('views.blog.nineth_to_twelfth')
    .site-banner-dot.step-4= t('views.blog.thirteenth_to_eighteenth')
