.site-banner
  %ul.site-banner-list
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image
        = image_tag 'img-banner-probebe.jpg'
    %li.site-banner-item
      %header.site-banner-header
        %h1 Você Sabia?
        %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
      %figure.site-banner-image
        = image_tag 'img-banner-probebe.jpg'
  .site-banner-arrow
  .site-banner-dots
    .site-banner-dot.step-0.is-active Gravidêz
    .site-banner-dot.step-1 1 a 4 meses
    .site-banner-dot.step-2 5 a 8 meses
    .site-banner-dot.step-3 9 a 12 meses
    .site-banner-dot.step-4 12 a 15 meses
