.site-banner
  %ul.site-banner-list
    - SiteBanner.order(:position).each do |banner|
      %li.site-banner-item
        %header.site-banner-header
          - if banner.title.present?
            %h1.with-dashed-line= banner.title
          - else
            %h1= banner.title

          %p= banner.text
        %figure.site-banner-image{style: "background-position: center; background-image: url(#{banner.background_image.url})"}
          = image_tag 'img-banner-probebe.jpg'

  .site-banner-arrow
  .site-banner-dots
    - step = 0
    - SiteBanner.order(:position).each do |banner|
      - css_classes = "site-banner-dot step-#{step}"
      - css_classes << " is-active" if step == 0
      %div{ class: "#{css_classes}" }= banner.name
      - step += 1
