.panel.panel-default
  .panel-heading
    %h4 Informações de Contato
  .panel-body
    %dl
      %dt= Profile.human_attribute_name 'address'
      %dd
        %dl
          %dt= Profile.human_attribute_name 'street'
          %dd= @profile.street
          %dt= Profile.human_attribute_name 'city'
          %dd= @profile.city
          %dt= Profile.human_attribute_name 'state'
          %dd= @profile.state
    %table.table
      %thead
        %tr
          %th= t('activerecord.models.cell_phone').pluralize
      %tbody
        - @profile.cell_phones.each do |phone|
          %tr
            %td= phone.number
