.panel.panel-default
  .panel-heading
    %h4 Informações de Contato
  .panel-body
    %dl
      %dt= Profile.human_attribute_name 'address'
      %dd
        %dl
          %dt= Profile.human_attribute_name 'street'
          %dd= @profile.street
          %dt= Profile.human_attribute_name 'city'
          %dd= @profile.city
          %dt= Profile.human_attribute_name 'state'
          %dd= @profile.state
    %strong= t('activerecord.models.phone').pluralize
    %table.table
      %thead
        %tr
          %th= Phone.human_attribute_name 'area_code'
          %th= Phone.human_attribute_name 'number'
          %th= Phone.human_attribute_name 'phone_type'
      %tbody
        - @profile.phones.each do |phone|
          %tr
            %td= phone.area_code
            %td= phone.number
            %td= phone.phone_type
