.panel-heading
  %h3 Informações de Contato
.panel.panel-default.col-sm-6
  .panel-body
    %dl
      %dt= Profile.human_attribute_name 'address'
      %dd
        %dl
          %dt= Profile.human_attribute_name 'street'
          %dd= @profile.street
          %dt= Profile.human_attribute_name 'city'
          %dd= @profile.city
          %dt= Profile.human_attribute_name 'state'
          %dd= @profile.state
.panel.panel-default.col-sm-6
  .panel-body
    %table.table
      %thead
        %tr
          %th= t('activerecord.models.cell_phone').pluralize_current_locale
      %tbody
        - @profile.cell_phones.each do |phone|
          %tr
            %td= phone.number
