.panel-heading
  %h3
    = t('views.profile.contact_informations')
  %hr
.panel.panel-default.col-sm-6.contact-border.contact-address
  .panel-body
    %h3.contact-border-title= Profile.human_attribute_name 'address'
    %dt= Profile.human_attribute_name 'street'
    %dd= @profile.street
    %dt= Profile.human_attribute_name 'city'
    %dd= @profile.city
    %dt= Profile.human_attribute_name 'state'
    %dd= @profile.state
.panel.panel-default.col-sm-6.contact-border
  .panel-body
    %h3.contact-border-title
      = t('views.profile.cell_phones')
    - @profile.cell_phones.each do |phone|
      %dd= phone.format_number
