.panel-heading
  %h3
    = t('views.profile.contact_informations')
  %hr
.panel.panel-default.col-sm-6.contact-border.contact-address
  .panel-body
    %h3.contact-border-title= Profile.human_attribute_name 'address'
    = definition_list_item Profile.human_attribute_name('street'), @profile.street
    = definition_list_item Profile.human_attribute_name('city'), @profile.city
    = definition_list_item Profile.human_attribute_name('state'), @profile.state
.panel.panel-default.col-sm-6.contact-border
  .panel-body
    %h3.contact-border-title
      = t('views.profile.cell_phones')
    = render @profile.cell_phones
