.panel.panel-default
  .panel-heading
    %h4 Informações Maternas
  .panel-body
    %dl
      %dt= Profile.human_attribute_name 'is_pregnant'
      %dd= @profile.is_pregnant
      %dt= Profile.human_attribute_name 'is_mother'
      %dd= @profile.is_mother
    %strong= t('activerecord.models.child').pluralize
    %table.table
      %thead
        %tr
          %th= Child.human_attribute_name 'name'
          %th= Child.human_attribute_name 'birth_date'
          %th= Child.human_attribute_name 'gender'
      %tbody
        - @profile.children.each do |child|
          %tr
            %td= child.name
            %td= l child.birth_date
            %td= child.gender
