.panel.panel-default
  .panel-heading
    %h4 Informações Maternas
  .panel-body
    %dl
      %dt= Profile.human_attribute_name 'pregnancy_start_date'
      %dd= distance_of_time_in_words_to_now @profile.pregnancy_start_date
    %strong= t('activerecord.models.child').pluralize_current_locale
    %table.table
      %thead
        %tr
          %th= Child.human_attribute_name 'name'
          %th= Child.human_attribute_name 'birth_date'
          %th= Child.human_attribute_name 'gender'
      %tbody
        - @profile.children.each do |child|
          %tr
            %td= child.name
            %td= l child.birth_date
            %td= child.gender
