.profile-personal
  .panel-heading
    %h3= t('views.profile.personal_information')
    %hr
  %figure
    = image_tag @profile.avatar_url
  .panel.col-sm-offset-1.panel-default.col-sm-6.profile-personal-info.profile-name
    .panel-body.profile-text
      %dt= Profile.human_attribute_name 'name'
      %dd= @profile.name
  .panel.panel-default.col-sm-4.profile-personal-info
    .panel-body
      .col-sm-6
        %dt= Profile.human_attribute_name 'birth_date'
        %dd= l @profile.birth_date
      .col-sm-6
        %dt= Profile.human_attribute_name 'gender'
        %dd= t("general.gender.#{@profile.gender}")
