.panel.panel-default
  .panel-heading
    %h4 Informações Pessoais
  .panel-body
    .col-sm-6
      %dl
        %dt= Profile.human_attribute_name 'name'
        %dd= @profile.name
        %dt= Profile.human_attribute_name 'gender'
        %dd= t("general.gender.#{@profile.gender}")
    .col-sm-6
      .pull-right= image_tag @profile.avatar_url
