!!!5
%html
  %head
    %title ProBebê

    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'home'

    = csrf_meta_tags
    //= render partial: 'flash_messages'
    = render 'google_analytics'

    = yield :head
  %body{class: "#{params[:controller]}"}
    = render 'tag_manager'
    = render 'how_works'
    = render 'sign_in'
    = render 'site_menu'
    - if home?
      - if current_user
        = render 'site_banner'
      - else
        = render 'site_landing_page'
    - else
      = render 'site_header'


    %section.main.container-fuild
      = yield
    %footer.footer
      = render 'sign_up_footer', source: session[:utm_source]
      %section.footer-copyright
        .container
          = render 'site_footer'

  :javascript

    window.onload = function() {
      var modal = vzr.modal(
        '.vzr-modal',
        '.open-modal'
      )
    }
