!!!5
%html
  %head
    %title ProBebê

    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'home'

    = csrf_meta_tags
    //= render partial: 'flash_messages'

    = yield :head
  %body{class: "#{params[:controller]}"}
    = render 'how_works'
    = render 'sign_in'
    = render 'site_menu'
    - if home?
      - if current_user
        = render 'site_banner'
      - else
        = render 'site_landing_page'
    - else
      = render 'site_header'


    %section.main.container-fuild
      = yield
    %footer.footer
      = render 'sign_up_footer', source: @source unless current_user
      %section.footer-copyright
        .container
          = render 'site_footer'

  :javascript
    // Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60606594-2', 'auto');
    ga('send', 'pageview');
    // End Google Analytics

    window.onload = function() {
      var modal = vzr.modal(
        '.vzr-modal',
        '.open-modal'
      )
    }
  // Google Tag Manager
  %noscript
    %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-592MGH", :style => "display:none;visibility:hidden", :width => "0"}
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-592MGH');
  // End Google Tag Manager

