%html
  %head
    %title pro-bebe
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if notice
      :javascript
        noty({ text: "#{notice}", layout: 'bottom', type: 'information', timeout: '3000' });
    - if alert
      :javascript
        noty({ text: "#{alert}", layout: 'bottom', type: 'warning', timeout: '3000' });
    = yield
    = link_to 'Sair', sign_out_path
