!!!5
%html
  %head
    %title Pro Bebe
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'flash_messages'
  %body
    .menu
      = render partial: 'menu_for_site_user'
    .main.container
      = yield
