!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title= t('views.application.name')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'flash_messages'
  %body
    .menu
      - if user_signed_in?
        - if current_user.site_user?
          = render partial: 'menu_for_site_user'
        - else
          = render partial: 'menu_for_admin_site_user'
      - else
        = render partial: 'menu_for_anonymous_user'
    .container
      .row
        .col-md-8
          = yield
        .col-md-4
          .well
            %h4= t('views.blog.search')
            .input-group
              %input.form-control{:type => "text"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button"}
                    %span.glyphicon.glyphicon-search
          .well
            %h4= t('activerecord.models.category').pluralize_current_locale
            = render layout: 'two_column_link_list', locals: { list: Category.sub_categories } do |category|
              = link_to category.name, '#'
          .well
            %h4= t('activerecord.models.tag').pluralize_current_locale
            = render layout: 'two_column_link_list', locals: { list: Tag.all } do |category|
              = link_to category.name, '#'
      %hr
      %footer
        .row
          .col-lg-12
            %p="#{t('views.application.name')} - #{Date.today.strftime('%Y')}"
