!!!5
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1", :name => "viewport" }
    %meta{ content: "", :name => "description" }
    %meta{ content: "", :name => "author" }
    %title= t('views.application.name')
    %link{ href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel: 'stylesheet', type: 'text/css' }/

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = csrf_meta_tags
    = render partial: 'flash_messages'

  %body
    %header.site-header
      .navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            = render partial: 'toggle_menu_button'
            = link_to t('views.application.name'), root_path, class: 'navbar-brand'
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                = link_to 'Quem Somos', '#'
              %li
                = link_to 'O que é o ProBebê', '#'
              %li
                = link_to 'Parceiros', '#'
              %li
                = link_to 'Histórico', '#'

            %ul.nav.navbar-nav.navbar-right.navbar-form
              .input-group
                %input.form-control{type: 'text', name: 'search'}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "submit"}
                    %span.glyphicon.glyphicon-search
              %li.pull-right
                = link_to 'Log In', '#'

    .site-banner
      %ul.site-banner-list
        %li.site-banner-item
          %header.site-banner-header
            %h1 Você Sabia?
            %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
          %figure.site-banner-image
            = image_tag 'img-banner-probebe.jpg'
        %li.site-banner-item
          %header.site-banner-header
            %h1 Você Sabia?
            %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
          %figure.site-banner-image
            = image_tag 'img-banner-probebe.jpg'
        %li.site-banner-item
          %header.site-banner-header
            %h1 Você Sabia?
            %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
          %figure.site-banner-image
            = image_tag 'img-banner-probebe.jpg'
        %li.site-banner-item
          %header.site-banner-header
            %h1 Você Sabia?
            %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
          %figure.site-banner-image
            = image_tag 'img-banner-probebe.jpg'
        %li.site-banner-item
          %header.site-banner-header
            %h1 Você Sabia?
            %p Dar leite de caixinha para o seu filho antes dois anos, pode prejudiar o seu desenvolvimento?
          %figure.site-banner-image
            = image_tag 'img-banner-probebe.jpg'
      .site-banner-arrow
      .site-banner-dots
        .site-banner-dot.step-0.is-active
          Gravidêz
        .site-banner-dot.step-1
          1 a 4 meses
        .site-banner-dot.step-2
          5 a 8 meses
        .site-banner-dot.step-3
          9 a 12 meses
        .site-banner-dot.step-4
          12 a 15 meses

    .clearfix
    .site-body.container
      .site-body-how-it-works
        %h1.site-body-how-it-works-heading Como Funciona?
        %ul.site-body-how-it-works-list
          %li.site-body-how-it-works-item
            %figure
              %img
            %p Lorem ipsum dolor sit amet
          %li.site-body-how-it-works-item
            %figure
              %img
            %p Lorem ipsum dolor sit amet
          %li.site-body-how-it-works-item
            %figure
              %img
            %p Lorem ipsum dolor sit amet

      .site-body-categories
        %ul.site-body-categories-list.category-health
          %li.site-body-categories-item.is-active
            Saúde
          %li.site-body-categories-item
            Educação
          %li.site-body-categories-item
            Socioemocional
          %li.site-body-categories-item
            Finanças
          %li.site-body-categories-item
            Segurança

          .site-body-categories-arrow

    .container
      .row
        .col-md-8
          = yield
        .col-md-4
          .well
            %form{action: posts_path, method: :get}
              %h4= t('views.blog.search')
      %hr
      %footer
        .row
          .col-lg-12
            %p="#{t('views.application.name')} - #{Date.today.strftime('%Y')}"
