!!!5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{ content: '', name: 'description' }
    %meta{ content: '', name: 'author' }
    %title= t('views.application.name')
    %link{ href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel: 'stylesheet', type: 'text/css' }/

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'flash_messages'

  %body
    = render 'site_header'
    .clearfix
    = render 'home_categories'
    = render 'how_it_works'
    = render 'anonymous_home'
    %footer.footer
      = render 'sign_up_footer'
      %section.footer-copyright
        .container
          Probebeê &copy;
