!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title= t('views.application.name')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'flash_messages'
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = render partial: 'toggle_menu_button'
          = link_to t('views.application.name'), root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li
            = link_to 'Fazer login', new_user_session_path
    .container
      .row
        .col-md-8
          = yield
          %ul.pager
            %li.previous
              %a{:href => "#"}= t('views.blog.older_html')
            %li.next
              %a{:href => "#"}= t('views.blog.newer_html')
        .col-md-4
          .well
            %h4= t('views.blog.search')
            .input-group
              %input.form-control{:type => "text"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button"}
                    %span.glyphicon.glyphicon-search
          .well
            %h4= t('activerecord.models.category').pluralize_current_locale
            = render layout: 'two_column_link_list', locals: { list: Category.sub_categories } do |category|
              = link_to category.name, '#'
          .well
            %h4= t('activerecord.models.tag').pluralize_current_locale
            = render layout: 'two_column_link_list', locals: { list: Tag.all } do |category|
              = link_to category.name, '#'
      %hr
      %footer
        .row
          .col-lg-12
            %p="#{t('views.application.name')} - #{Date.today.strftime('%Y')}"
