!!!5
%html
  %head
    %title Pro Bebe
    = stylesheet_link_tag 'carnival_devise_views.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'flash_messages'
  %body
    = yield
