!!!5
%html
  %head
    %title Pro Bebe

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = csrf_meta_tags
    = render partial: 'flash_messages'

    = yield :head
  %body{class: "#{params[:controller]}"}
    = yield


